@model FS.Models.ViewModels.RatingCardVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-lg-4 col-md-6 pb-4 ">
    <!-- Card-->
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
        <div class="px-3 pt-3 pb-1 row">
            <div class="col-10 center-block"><label  class="">@Model.Movies.Title</label></div>
            <div>
                <div class="">
                    @if (Model.Ratings.Count() != 0)
                    {
                        <span style="font-size: 2rem; color: gold">★</span><span style="font-size: 2rem;" class="">@Model.Ratings.Average(u => u.UserRating) </span>
                    }
                    else
                    {
                        <span style="font-size: 2rem; color: gold">★</span><span style="font-size: 2rem;" class="">- </span>
                    }
                </div>
            </div>
        </div>
        <a asp-action="Details"  asp-route-id="@Model.Movies.Id"><img  class=" d-block mx-auto mb-3" src="@WC.ImagePath@Model.Movies.Img" alt="Card image cap" width="100%" height="450">
            </a>
    </div>
</div>
